@{
    ViewData["Title"] = "About Us";
}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">
            About Us</h1>
           
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-fluid overflow-hidden py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-xl-5 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="bg-light rounded">
                    <img src="~/img/biglogo.jpeg" class="img-fluid w-100 h-100" style="margin-bottom: -7px;" alt="Image">
                </div>
            </div>
            <div class="col-xl-7 wow fadeInRight" data-wow-delay="0.3s">
                <h5 class="sub-title pe-3">About the company</h5>
                <h1 class="display-5 mb-4">We’re Your Trusted Travel Partner for Exploring Egypt.</h1>
                <p class="mb-4">At Pablo Adventures, we specialize in creating unforgettable travel experiences. With a deep passion for Egypt and years of experience in the tourism industry, we’re committed to delivering personalized services that meet your unique travel needs. From iconic landmarks to hidden gems, we help you discover the beauty of Egypt with comfort and ease.</p>
                <div class="row gy-4 align-items-center">
                    <div class="col-12 col-sm-6 d-flex align-items-center">
                        <i class="fas fa-map-marked-alt fa-3x text-secondary"></i>
                        <h5 class="ms-4">Tailor-Made Tours to Suit Every Travelers</h5>
                    </div>
                    <div class="col-12 col-sm-6 d-flex align-items-center">
                        <i class="fas fa-passport fa-3x text-secondary"></i>
                        <h5 class="ms-4">Authentic Local Experiences</h5>
                    </div>
                    
                    <div class="col-12 col-md-12">
                        <div class="mb-5">
                            <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i> 100% Genuine Assistance Throughout Your Journey</p>
                            <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i> It’s Faster & Reliable Execution</p>
                            <p class="text-primary h6 mb-3"><i class="fa fa-check-circle text-secondary me-2"></i> Accurate and Expert Advice for All Your Travel Plans</p>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div id="phone-tada" class="d-flex align-items-center justify-content-center me-4">
                                <a href="" class="position-relative wow tada" data-wow-delay=".9s">
                                    <i class="fa fa-phone-alt text-primary fa-3x"></i>
                                    <div class="position-absolute" style="top: 0; left: 25px;">
                                        <span><i class="fa fa-comment-dots text-secondary"></i></span>
                                    </div>
                                </a>
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                                <span class="text-secondary fw-bold fs-5" style="letter-spacing: 2px;">+20 1501565958</span>
                                <span class="text-secondary fw-bold fs-5" style="letter-spacing: 2px;">+20 1279257047</span>
                                <a href="https://wa.me/+201501565958" target="_blank" class="btn btn-success" style="background-color: #25D366; color: white; font-size: 18px; padding: 10px 20px; border-radius: 5px; text-decoration: none;">
                                    <i class="fab fa-whatsapp"></i> Contact Us on WhatsApp
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
