@{
    ViewData["Title"] = "Contact";
    
}




<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h4 class="modal-title text-secondary mb-0" id="exampleModalLabel">Search by keyword</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">
            Contact Us</h1>
            
    </div>
</div>
<!-- Header End -->
<!-- Contact Start -->
<div class="container-fluid contact overflow-hidden py-5">
    <div class="container py-5">
        <div class="row g-5 mb-5">
            <div class="col-lg-12 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="sub-style">
                    <h5 class="sub-title text-primary pe-3">Quick Contact</h5>
                </div>
                <h1 class="display-5 mb-4">Have Questions? Don't Hesitate to Contact Us</h1>
                <p class="mb-5">
                    Planning a trip to Egypt and have questions? We’re here to assist you! Whether you need more information about our tours, services, or destinations, feel free to reach out.

                
                </p>
                
                <div class="row g-3">
                    <div class="col-xl-6">
                        <div class="d-flex">
                            <i class="fas fa-tty fa-3x text-primary"></i>
                            <div class="ps-3">
                                <h5 class="mb-3">Quick Contact</h5>
                                <div class="mb-3">
                                    <h6 class="mb-0">Phone:</h6>
                                    <a href="#" class="fs-5 text-primary">+20 1279257047</a>
                                    <br />
                                    <a href="#" class="fs-5 text-primary">+20 1501565958</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="d-flex">
                            <i class="fas fa-clone fa-3x text-primary"></i>
                            <div class="ps-3">
                                <h5 class="mb-3">Opening Hrs</h5>
                                <div class="mb-3">
                                    <h6 class="mb-0">Mon - Friday:</h6>
                                    <a href="#" class="fs-5 text-primary">09.00 am to 07.00 pm</a>
                                </div>
                                <div class="mb-3">
                                    <h6 class="mb-0">Satday:</h6>
                                    <a href="#" class="fs-5 text-primary">10.00 am to 05.00 pm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center pt-3">
                    <div class="me-4">
                        <div class="bg-light d-flex align-items-center justify-content-center" style="width: 90px; height: 90px; border-radius: 10px;"><i class="fas fa-share fa-3x text-primary"></i></div>
                    </div>
                    <a href="https://wa.me/+201501565958" target="_blank" class="btn btn-success" style="background-color: #25D366; color: white; font-size: 18px; padding: 10px 20px; border-radius: 5px; text-decoration: none;">
                        <i class="fab fa-whatsapp"></i> Contact Us on WhatsApp
                    </a>

                </div>
            </div>
         


            </div>
        </div> 
        
    </div>
</div>
<!-- Contact End -->

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


