
@{
    ViewData["Title"] = "Programs";
}


<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">
            Our Travel Programs
            </h1>
           
    </div>
</div>
<!-- Header End -->
<!-- Countries We Offer Start -->
<div class="container-fluid country overflow-hidden py-5">
    <div class="container py-5">
        <div class="section-title text-center wow fadeInUp" data-wow-delay="0.1s" style="margin-bottom: 70px;">
            <div class="sub-style">
                <h5 class="sub-title text-primary px-3">
                    DESTINATIONS WE OFFER
                </h5>
            </div>
            <h1 class="display-5 mb-4">
                Explore Egypt's Most Iconic Locations
            </h1>
            <p class="mb-0">Explore the best of Egypt with our carefully crafted travel programs. From cultural landmarks to hidden gems, Pablo Tourist offers a range of personalized tours designed to suit every traveler’s interests and needs.</p>
        </div>
        <div class="row g-4 text-center">
            <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.1s">
                <div class="country-item">
                    <div class="rounded overflow-hidden">
                        <img src="~/img/hr.jpg" style="height: 300px;" class="img-fluid w-100 rounded" alt="Image">
                    </div>
                 
                    <div class="country-name">
                        <a href="#" class="text-white fs-4">
                            Hurghada Resorts


                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.3s">
                <div class="country-item">
                    <div class="rounded overflow-hidden">
                        <img src="~/img/redsea.jpg" style="height: 300px;" class="img-fluid w-100 rounded " style="height: 300px;" alt="Image">
                    </div>
                    
                    <div class="country-name">
                        <a href="#" class="text-white fs-4">
                            Red Sea Coast
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.5s">
                <div class="country-item">
                    <div class="rounded overflow-hidden">
                        <img src="~/img/nile.jpg" style="height: 300px;"  class="img-fluid w-100 rounded" alt="Image">
                    </div>
                   
                    <div class="country-name">
                        <a href="#" class="text-white fs-4">
                            Hurghada & Nile Cruise
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.7s">
                <div class="country-item">
                    <div class="rounded overflow-hidden">
                        <img src="~/img/nile2.jpg" style="height: 300px;" class="img-fluid w-100 rounded" alt="Image">
                    </div>
                    
                    <div class="country-name">
                        <a href="#" class="text-white fs-4">
                            Cairo & Nile Cruise
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="container-fluid country overflow-hidden pb-5">
    <div class="container padding-bottom">
 
        <div class="row g-4 text-center">
            <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.1s">
                <div class="country-item">
                    <div class="rounded overflow-hidden">
                        <img src="~/img/alamin.jpg" style="height: 300px;" class="img-fluid w-100 rounded" alt="Image">
                    </div>
                  
                    <div class="country-name">
                        <a href="#" class="text-white fs-4">
                            Mediterranean&Red Sea
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.3s">
                <div class="country-item">
                    <div class="rounded overflow-hidden">
                        <img src="~/img/caption.jpg" style="height: 300px;" class="img-fluid w-100 rounded" alt="Image">
                    </div>
                   
                    <div class="country-name">
                        <a href="#" class="text-white fs-4">
                            Two Cruises & Cairo
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.5s">
                <div class="country-item">
                    <div class="rounded overflow-hidden">
                        <img src="~/img/islamic.jpg" style="height: 300px;" class="img-fluid w-100 rounded" alt="Image">
                    </div>
                 
                    <div class="country-name">
                        <a href="#" class="text-white fs-4">
                            Islamic Egypt
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3 mb-5 mb-xl-0 wow fadeInUp" data-wow-delay="0.7s">
                <div class="country-item">
                    <div class="rounded overflow-hidden">
                        <img src="~/img/coptic.jpg" style="height: 300px;" class="img-fluid w-100  rounded" alt="Image">
                    </div>
                   
                    <div class="country-name">
                        <a href="#" class="text-white fs-4">
                            Coptic Egypt
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Countries We Offer End -->
