@{
    ViewData["Title"] = "Service";
}

<!-- Services Start -->
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">
            Our Services</h1>
     
    </div>
</div>
<!-- Header End -->

<div class="container-fluid service overflow-hidden py-5">
    <div class="container py-5">
        <div class="section-title text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="sub-style">
                <h5 class="sub-title text-primary px-3">Tour  Categories</h5>
            </div>
            <h1 class="display-5 mb-4">
                Tailoring Your Perfect Egyptian Experience
            </h1>
            <p class="mb-0">
                At Pablo Adventures, we offer a wide range of tour options designed to suit every type of traveler. Whether you're looking for cultural immersion, adventure, or relaxation, we have the perfect itinerary for you. Explore Egypt’s ancient wonders, vibrant cities, and breathtaking landscapes with ease and comfort.

            </p>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-inner">
                        <div class="service-img">
                            <img src="~/img/ACCOMMODATION.jpg" class="img-fluid w-100 rounded" style="height: 320px;" alt="Image">
                        </div>
                        <div class="service-title">
                            <div class="service-title-name">
                                <div class="bg-primary text-center rounded p-3 mx-5 mb-4">
                                    <a href="#" class="h4 text-white mb-0">ACCOMMODATION</a>
                                </div>
                                <a class="btn bg-light text-secondary rounded-pill py-3 px-5 mb-4" href="#">Explore More</a>
                            </div>
                            <div class="service-content pb-4">
                                <a href="#"><h4 class="text-white mb-4 py-3">ACCOMMODATION</h4></a>
                                <div class="px-4">
                                    <p class="mb-4">We offer accommodations in all the Egyptian cities  from low-budget to  deluxe hotels, satisfying different customer needs . We also offer Nile cruise programs .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner">
                        <div class="service-img">
                            <img src="~/img/EXCURSIONS.jpg" class="img-fluid w-100 rounded" style="height: 320px;" style="height: 320px;" alt="Image">
                        </div>
                        <div class="service-title">
                            <div class="service-title-name">
                                <div class="bg-primary text-center rounded p-3 mx-5 mb-4">
                                    <a href="#" class="h4 text-white mb-0">EXCURSIONS</a>
                                </div>
                                <a class="btn bg-light text-secondary rounded-pill py-3 px-5 mb-4" href="#">Explore More</a>
                            </div>
                            <div class="service-content pb-4">
                                <a href="#"><h4 class="text-white mb-4 py-3">EXCURSIONS</h4></a>
                                <div class="px-4">
                                    <p class="mb-4">We offer a variety of truly unique experiences in showcasing our beautiful country. In our excursions program, you can find something for everyone, from snorkeling in the Red Sea to watching beautiful sunsets in the desert to discovering the ancient Egyptian history. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="service-inner">
                        <div class="service-img">
                            <img src="~/img/AIRPORT TRANSFERS.jpg" class="img-fluid w-100 rounded" style="height: 320px;" alt="Image">
                        </div>
                        <div class="service-title">
                            <div class="service-title-name">
                                <div class="bg-primary text-center rounded p-3 mx-5 mb-4">
                                    <a href="#" class="h4 text-white mb-0">
                                        AIRPORT TRANSFERS
                                    </a>
                                </div>
                                <a class="btn bg-light text-secondary rounded-pill py-3 px-5 mb-4" href="#">Explore More</a>
                            </div>
                            <div class="service-content pb-4">
                                <a href="#"><h4 class="text-white mb-4 py-3">AIRPORT TRANSFERS</h4></a>
                                <div class="px-4">
                                    <p class="mb-4">We specialize in airport transfer services to and from all the airports in Egypt for individuals, families and businesses with the accent on a courteous and thoroughly professional personal service at affordable prices. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-inner">
                        <div class="service-img">
                            <img src="~/img/DESTINATION PACKAGES.jpeg" class="img-fluid w-100 rounded" style="height: 320px;" alt="Image">
                        </div>
                        <div class="service-title">
                            <div class="service-title-name">
                                <div class="bg-primary text-center rounded p-3 mx-5 mb-4">
                                    <a href="#" class="h4 text-white mb-0">
                                        DESTINATION PACKAGES
                                    </a>
                                </div>
                                <a class="btn bg-light text-secondary rounded-pill py-3 px-5 mb-4" href="#">Explore More</a>
                            </div>
                            <div class="service-content pb-4">
                                <a href="#"><h4 class="text-white mb-4 py-3">DESTINATION PACKAGES</h4></a>
                                <div class="px-4">
                                    <p class="mb-4">Travel is different for everyone. We want to make sure that you are getting the most from your trip by crafting the dream vacation that is perfect for you.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-inner">
                        <div class="service-img">
                            <img src="~/img/MICE & CORPORATE.jpg" class="img-fluid w-100 rounded" style="height: 320px;" alt="Image">
                        </div>
                        <div class="service-title">
                            <div class="service-title-name">
                                <div class="bg-primary text-center rounded p-3 mx-5 mb-4">
                                    <a href="#" class="h4 text-white mb-0">
                                        MICE & CORPORATE
                                    </a>
                                </div>
                                <a class="btn bg-light text-secondary rounded-pill py-3 px-5 mb-4" href="#">Explore More</a>
                            </div>
                            <div class="service-content pb-4">
                                <a href="#"><h4 class="text-white mb-4 py-3"> MICE & CORPORATE</h4></a>
                                <div class="px-4">
                                    <p class="mb-4">We have a MICE team of professionals who works with you on planning your event .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="service-inner">
                        <div class="service-img">
                            <img src="~/img/SPIRITUAL SUFI TOURS.jpg" class="img-fluid w-100 rounded" style="height: 320px;" alt="Image">
                        </div>
                        <div class="service-title">
                            <div class="service-title-name">
                                <div class="bg-primary text-center rounded p-3 mx-5 mb-4">
                                    <a href="#" class="h4 text-white mb-0">SPIRITUAL SUFI TOURS</a>
                                </div>
                                <a class="btn bg-light text-secondary rounded-pill py-3 px-5 mb-4" href="#">Explore More</a>
                            </div>
                            <div class="service-content pb-4">
                                <a href="#">
                                    <h4 class="text-white mb-4 py-3">
                                        SPIRITUAL SUFI TOURS
                                    </h4>
                                </a>
                                <div class="px-4">
                                    <p class="mb-4">We open the door for thousands of sufi people to visit the spiritual sufi sites in Egypt and all over the world</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->


